// bower:scss
// endbower
$techhub: #f9b233;
@import "../../bower_components/bulma/bulma/utilities/utilities";
@import "../../bower_components/bulma/bulma/config/variables";
$primary: #f9b233;
$radius: 0;
$family-sans-serif: "Roboto", "Helvetica", "Arial", sans-serif;
@import "../../bower_components/bulma/bulma/config/generated-variables";
@import "../../bower_components/bulma/bulma/base/base";
@import "../../bower_components/bulma/bulma/elements/elements";
@import "../../bower_components/bulma/bulma/components/components";
@import "../../bower_components/bulma/bulma/layout/layout";
// slick carousel
@import "../../bower_components/slick-carousel/slick/slick.scss";
$slick-font-path: "../fonts/" !default;
@import "../../bower_components/slick-carousel/slick/slick-theme.scss";
@import "hamburger.scss";
// avoid FOUC
.wf-loading {
  @media screen and (min-width: 35em) {
    .title.title-home,
    .is-home-cta,
    .header-right.header-menu,
    .tabs-home {
      visibility: hidden;
    }
  }
}
body {
  font-size: 16px;
  background-color: #111;
}
.is-hidden {
  display: none;
}
.is-th-font {
  font-family: 'Rockwell W02', sans-serif;
  letter-spacing: 1px;
}
.title-home {
  color: #fff;
  font-weight: bold;
  @media screen and (min-width: 35em) {
    font-size: 3em;
    padding-bottom: 5px;
  }
}
.hero.is-fullheight.hero-home {
  background-color: #000;
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, .95)),url('../images/bg_team.jpg');
  background-position: center;
  @media screen and (min-width: 35em) {
    background: #000;
  }
}
.subtitle-home {
  color: #fff;
  font-size: 1.4em;
}
.hero-home {
  z-index: 1;
}
.header-toggle {
  position: fixed;
  top: 5px;
  right: 15px;
  margin-top: 10px;
  border: 2px solid #333;
  width: 45px;
  height: 45px;
  background: $techhub;
  &:hover{
    background: darken($techhub, 5%);;
  }
  span {
    background: #333;
    height: 2px;
  }
}
.header-item.is-dark-bg {
  & a {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    &:hover {
      color: $techhub;
    }
  }
  .button.is-techhub {
    background: $techhub;
    border-color: transparent;
    color: #111;
    border-radius: 3px;
    &:hover {
      background: darken($techhub, 10);
    }
  }
  .button.is-transparent {
    background-color: transparent;
    border-radius: 0;
  }
}
.header .container-header {
  align-items: stretch;
  box-shadow: none;
  display: flex;
  width: 100%;
  max-width: 100%;
  margin-right: 20px;
}
.covervid-wrapper {
  display: none;
  @media screen and (min-width: 35em) {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 100vh;
    z-index: 1;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
  }
}
.logo-home {
  max-width: 165px;
  margin-bottom: 10px;
  @media screen and (min-width: 35em) {
    max-width: 220px;
    margin-bottom: 20px;
  }
}
.is-home-cta {
  background-color: $techhub;
  border-radius: 0;
  border: 0;
  font-weight: 500;
  text-transform: uppercase;
  margin: 10px 0;
  @media screen and (min-width: 35em) {
    margin: 20px 10px;
  }
}
.tabs.tabs-home {
  margin-top: 5px;
  a {
    color: #fff;
    font-weight: 500;
    font-size: 1.15em;
    &:hover {
      color: $techhub;
    }
  }
}
.title.title-section {
  margin-bottom: 25px;
}
// we help startups grow better, faster
.columns.columns-minimal-border {
  margin: 10px;
  .column {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 35em) {
    margin: 0 10px;
    .column {
      margin-bottom: 0;
    }
    .column:not(:last-child) {
      margin-right: 10px;
    }
  }
}
// memberships
.full-bg {
  position: relative;
  color: #fff;
  min-height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  &.hover {
    cursor: pointer;
  }
  &.hover:hover {
    h3.title {
      color: $techhub;
    }
  }
  &.full-bg-global-community {
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),url('../images/map2.png');
    background-position: center;
  }
  &.full-bg-flex-space {
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, .35), rgba(0, 0, 0, 0.9)), url('../images/bg_space.jpg');
    background-position: center;
  }
  &.full-bg-events {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .35), rgba(0, 0, 0, 0.9)), url('../images/bg_events3.jpg');
    background-position: center;
  }
  &.full-bg-flex {
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, .3), rgba(0, 0, 0, 0.95)), url('../images/bg_flex3.jpg');
    background-position: center;
  }
  &.full-bg-resident {
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, .3), rgba(0, 0, 0, 0.95)), url('../images/bg_resident3.jpg');
    background-position: center;
  }
  &.full-bg-team {
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, .3), rgba(0, 0, 0, 0.95)), url('../images/bg_team.jpg');
    background-position: center;
  }
  .full-bg-text {
    position: absolute;
    bottom: 10px;
    left: 0;
    padding: 10px 20px;
    .title {
      color: #fff;
      font-size: 1.6em;
      margin-bottom: 10px;
    }
  }
}
// alumni & members
.carousel.carousel-members {
  margin-bottom: 10px;
  .card {
    margin: 1px 30px;
  }
  .image {
    height: 64px;
  }
  .slick-prev:before,
  .slick-next:before {
    color: #333;
  }
  .slick-prev {
    z-index: 1;
    left: 3px;
    @media screen and (min-width: 35em) {
      left: -25px;
    }
  }
  .slick-next {
    right: 3px;
    @media screen and (min-width: 35em) {
      right: -25px;
    }
  }
}
// newsletter
.hero.is-primary.is-bold {
  background-image: linear-gradient(141deg, #111 0%, #444 61%, #222 100%);
}
.mce-responses {
  margin-top: 10px;
}
.control-full {
  .select, select, button {
    width: 100%;
  }
}
// stats
.navbar.navbar-stats {
  .heading {
    font-size: 14px;
  }
  .navbar-item {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
    @media screen and (min-width: 35em) {
      margin-bottom: 0;
    }
  }
}
.button.is-home-cta.is-medium {
  height: 46px;
  padding: 12px 20px;
  width: 100%;
  @media screen and (min-width: 35em) {
    width: auto;
  }
}
.button.is-primary {
  color: #222;
  &:hover {
    color: #111;
  }
}
// footer
.list {
  li {
    list-style: none;
    a {
      border: 0;
    }
  }
}
.footer ul {
  border-bottom: none;
  display: block;
  @media screen and (min-width: 35em) {
    display: flex;
  }
}
.footer .columns {
  padding-bottom: 0;
}
.footer a:not(.icon) {
  border: 0;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
  text-decoration: none;
}
.footer-icons .icon {
  height: 28px;
  width: 28px;
  margin-right: 10px;
  font-size: 28px;
}
// other
.img-partners {
  max-width: 500px;
  margin: 0 auto;
  display: block;
}
.small-padding-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
}
.section {
  background-color: #eee;
  &.is-paddingless {
    padding: 1px 0;
    @media screen and (min-width: 35em) {
      padding: 10px 0;
    }
  }
  &.small-padding {
    padding: 25px 0;
  }
  &.section-partners {
    background-color: #F5F7FA;
    border-bottom: 1px solid rgba(211, 214, 219, 0.5);
    h2 {
      margin-top: 10px;
      margin-bottom: 0;
    }
    .image {
      margin: 0 20px;
      display: inline-block;
    }
    .img-logo-gfe {
      margin-top: 15px;
      margin-bottom: 10px;
      max-width: 80%;
      @media screen and (min-width: 35em) {
        max-width: 370px;
      }
    }
    .img-logo-bt {
      margin-bottom: 10px;
      max-width: 120px;
      @media screen and (min-width: 35em) {
        // margin-left: 0px;
      }
    }
  }
}
.map-bg {
  height: 350px;
  background-image: url('../images/map.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.is-modal-social {
  .message-header {
    padding: 15px;
    text-align: center;
    i.fa {
      font-size: 3em;
    }
  }
  .message-body {
    height: 180px;
  }
  .message-body a {
    color: #777;
    &:hover {
      color: #333;
    }
  }
}
.is-facebook {
  .message-header {
    background-color: #3b5998;
  }
}
.is-twitter {
  .message-header {
    background-color: #55acee;
  }
}
.is-instagram {
  .message-header {
    background-color: #3f729b;
  }
}

.locations-button-mobile {
  font-size: 1.2em;
  margin-top: 30px;
  text-transform: uppercase;
  color: $techhub;
  border: 1px solid $techhub;
  width: 200px;
  margin: 30px auto;
}
.nav-modal-locations {
  li a {
    font-size: 2.1em;
    font-size: 5.4vh;
  }
}
.modal-close-left {
  left: 20px;
}
