// bower:scss
// endbower
$techhub: #f9b233;
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  background-color: #111;
}
.show-lg {
  display: none;
  @media screen and (min-width: 35em) {
    display: block;
  }
}
.is-th-font {
  font-family: 'Rockwell W02', sans-serif;
  letter-spacing: 1px;
}
.title-home {
  color: #fff;
  font-weight: bold;
  @media screen and (min-width: 35em) {
    font-size: 3em;
    padding-bottom: 5px;
  }
}
.subtitle-home {
  color: #fff;
  font-size: 1.4em;
}
.hero-home {
  z-index: 2;
}
.header-item.is-dark-bg {
  & a {
    color: #fff;
  }
  .button.is-techhub {
    background: $techhub;
    border-color: transparent;
    color: #111;
    border-radius: 3px;
    &:hover {
      background: darken($techhub, 10);
    }
  }
}
.header .container-header {
    align-items: stretch;
    box-shadow: none;
    display: flex;
    width: 100%;
    max-width: 100%;
    margin-right: 20px;
}
video#bgvid {
  display: none;
  @media screen and (min-width: 35em) {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    transform: translateX(-50%) translateY(-50%);
    background: url("bg.jpg") no-repeat;
    background-size: cover;
  }
}
.logo-home {
  max-width: 200px;
  margin-bottom: 20px;
}
.wrapper-gfe {
  color: #fff;
  text-transform: uppercase;
  .text-gfe {
    text-align: center;
    color: #fff;
    font-weight: 300;
    font-size: 0.85em;
    margin-bottom: 3px;
  }
  .logo-gfe {
    max-width: 289px;
  }
  a {
    padding: 0;
  }
}
.is-home-cta {
  background-color: #f7af3f;
  border-radius: 0;
  border: 0;
  font-size: 120%;
  font-weight: bold;
  text-transform: uppercase;
  @media screen and (min-width: 35em) {
    margin: 20px 10px;
  }
}
.tabs.tabs-home a {
  color: #fff;
  &:hover {
    color: $techhub;
  }
}
// footer
.list {
  li {
    list-style: none;
    a {
      border: 0;
    }
  }
}
.section {
  background-color: #eee;
}
.map-bg {
  height: 350px;
  background-image: url('../images/map.png');
  background-size: contain;
  background-repeat: no-repeat;
}
